*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.wrapper{
    position: relative;
    width: 120vh;
    margin: auto;
    height: 94vh;
    overflow: hidden;
    border: 2px solid black;
    margin-top: 20px;
    
}
.question{
    font-family: 'Delius Swash Caps', cursive;
    font-size: 2rem;
    text-align: center;
    background-color: rgb(71, 69, 67);
    color: white;
    box-shadow: 0 0 10px black;
}
.btn-yes, .btn-no{
    background-color: #f1f1f1;
    border: 1px solid black;
    padding: 5px 10px;
    font-size: 1rem;
    cursor: pointer;
    font-family: 'Press Start 2P';
    border-radius: 20px 20px 20px 20px;
    display: block;
    margin: 20px auto;
    text-align: center;
}
.btn-yes:hover, .btn-no:hover{
    background-color: #000000;
    color: white;
}
.btn-group{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    box-shadow: 0 0 10px black;
}

